:root{
    /*First choice*/
    --Prussian-Blue: rgb(11, 60, 93);
    --Sky-Blue: rgb(50, 140, 193);
    --Gold-Leaf: rgb(217, 179, 16);
    --Ivory-Black: rgb(29, 39, 49);

    /*Other choice*/
    --Ice: rgb(153, 211, 223); 
    --Fresh-Water: rgb(136, 187, 214);
    --Plaster: rgb(205, 205, 205);
    --Linen: rgb(233, 233, 233);
}

/*GLOBAL*/

.col{
    flex-direction: column;
    width: 100%;
}
.test-border{
    border: solid black 1px;
}
h1, h3{
    color: var(--Ivory-Black);
}
h1{
    font-size: 2em;
}
.flex-container{
    display: flex;
}
.flex-item{
    flex: 1;
    align-content: space-between;
}
.hidden{
    display: none;
}
.format-center{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    width: 100px;
}
.pill{
    border-radius: 20px;
    background-color: var(--Linen);
    padding: 10px;
    margin: 5px;
}
.pill > a{
    color: var(--Prussian-Blue);
}
section{
    background-color: var(--Prussian-Blue);
}
aside{
    margin-top: 20px;
}

/*HERO*/

.hero{
    background-color: var(--Sky-Blue);
}

/*LOGO*/

.logo{
    display: inline-block;
}
.logo > img{
    width: 100px;
    height: 90px;
}
.logo > p{
    display: table;
}

/*LOOKUP BAR*/
a{
    text-decoration: none;
    color: var(--Gold-Leaf);
}
.lookup-bar{
    justify-content: flex-end;
    padding: 1%;
}
.all-links{
    margin: auto 0;
}

/*SITE IDENTIFICATION*/

.site-identifier{
    background-color: var(--Fresh-Water);
    width: 99%;
    height: 70%;
    border-radius: 30px;
}
.site-identification{
    text-align: center;
    padding-top: 20px;
}

/*NAV*/

.navbar{
    background-color: var(--Ivory-Black); 
}
.navbar > ul{
    width: 40%;
    margin-left: auto;
}

/*LEFT SECTION*/

.sidebar-width{
    flex: 1;
}
.left-sidebar{
    flex-direction: column;
    width: 25%;
    display: inline-flex;
    margin: 0 auto;
    margin-right: 10%;
}
.left-sidebar > li{
    display: flex;
}
.center > li{
    margin: 0 auto;
    padding: 10px;
}

/*MIDDLE SECTION*/
.title > h2, h4{
    text-align: center;
    color: var(--Linen);
}
.middle-width{
    flex: 3;
}
.middle-content{
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.middle-content > p{
    margin: 20px auto;
    color: var(--Plaster)
}

/*BREADCRUMB*/

.breadcrumb-path{
    display: flex;
    margin: 10px;
    padding-top: 20px;
}

/*SLIDER*/

.slider-test{
    padding-left: 30px;
    padding-right: 30px;
}
.slider-test > img{
    width: 100px;
    height: 100px;
}
#badge-slider-capsule{
    background-color: darkcyan;
    border-radius: 100px;
    width: 54%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px auto;
}